# Copy this file to a new file named sauce.properties and modify appropriately for your SauceLabs account.
# DO NOT delete this file.

SAUCE_USER_NAME=sauce_user_name
SAUCE_ACCESS_KEY=sauce_private_key
